* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.edicao {
    background-color: #ddd;
    height: 100vh;
}

div {
    background-color: rgb(12, 12, 12);
    width: 35vh;
    height: 35vh;
    position: fixed;
}

.quadrado1 {
    right: 0;
    bottom: 0;
}

.quadrado2 {
    left: 0;
    bottom: 0;
}

.quadrado3 {
    right: 0;
    top: 0;
}

.quadrado4 {
    left: 0;
    top: 0;
}