table {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

.t1 {
    width: 200px;
    height: 200px;
}

.texto {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}