* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.edicao {
    background-color: #ddd;
    width: 100vw;
    height: 100vh;
  }

.absolut {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.azul {
    width: 100vh;
    height: 100vh;
    background-color: blue;
}

.vermelho {
    width: 80vh;
    height: 80vh;
    background-color: red;
}

.preto {
    width: 55vh;
    height: 55vh;
    background-color: black;
}

.verde {
    width: 30vh;
    height: 30vh;
    background-color: green;
}

.amarelo {
    width: 15vh;
    height: 15vh;
    background-color: yellow;
}